html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;

}

.full-gif {
    background-image: url("../img/main.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Major Mono Display', monospace;
}

nav {
    height: 100%;
    font-size: 32px;
    text-align: center;
    margin: 3em 1em 1em 1em;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: black;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 1em;
}

header {
    text-align: center;
    user-select: none;
}

header h1 {
    font-size: 7em;
    padding: 0;
    margin: 0;
}

@media (max-width: 680px) {
    header h1 {
        font-size: 2.3em;
        text-align: center;
    }
}

main {
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Cutive Mono', monospace;

}

.about {
    width: 70%;
    margin: 0 auto;
    line-height: 150%;
    font-size: 20px;
    margin-bottom: 100px;
}

/* .gif {
    text-align: center;
}

.gif img {
    width: 900px;

} */

.secondary-header {
    font-size: 6em;
    text-align: center;
}

@media (max-width: 680px) {
    .gif img {
        width: 300px;
    }
}

footer {
    position: fixed;
    bottom:  0;
    padding-bottom: 15px;
    padding: 0 0 40px 33%;
}

@media (max-width: 680px) {
    footer small {
        width: 100%;
        font-size: 11px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 25%;
    margin-bottom: 10%; 
    position: relative;
    padding: 1%;
  }

.container .item h2 {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 32px;
    margin: 0;
    padding-top: 5%;
    background-color: black;
}

.container .item p {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 18px;
}

.container .item a {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.item img {
    min-width: 100%;
    max-width:100%;
    max-height:100%;
}

.active {
    background-color: white;
    color: black;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons div {
    width: 20%;
    margin-top: 10%;
    text-align: center;
}

.icons div img {
    width: 50%;
}

.buy {
    width: 50px;
    margin: 0 auto;
}