html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Major Mono Display', monospace;
}

nav {
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: 3em 1em 1em 1em;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 1em;
}

header {
    text-align: center;
    user-select: none;
}

header h1 {
    font-size: 6em;
}

main {
    height: 100%;
    width: 100%;
}

.gif {
    text-align: center;
}

.gif img {
    width: 900px;

}

@media (max-width: 680px) {
    .gif img {
        width: 750px;
    }
}



footer {
    position: absolute;
    bottom:  0;
}