html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;

}

.full-gif {
    background-image: url("../img/main.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-family: 'Major Mono Display', monospace;
}

nav {
    font-size: 2em;
    text-align: center;
    margin: 0 1em 1em 1em;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: black;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 1em;
}

nav ul {
    width: 15%;
    display: inline-block;
}

.full-gif h1 {
    background-color: #000000d7;
    padding: 5%;
}

header {
    text-align: center;
    user-select: none;
}

header h1 {
    font-size: 5em;
}

.secondary-header h2 {
    text-align: center;
    font-size: 6em;
    user-select: none;
}

main {
    width: 100%;
}

p {
    font-family: 'Cutive Mono', monospace;

}

.about {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 10%;
}

.about a {
    text-decoration: none;
    color: white;
}

.about article img {
    width: 400px;
    height: 400px;
}

.gif {
    text-align: center;
}

.gif img {
    width: 900px;

}

.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.item {
    margin-bottom: 10%; 
    position: relative;
    padding: 1%;
  }

.container .item h2 {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding-top: 5%;
    background-color: black;
}

.container .item p {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 1.1em;
}

.container .item a {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.item img {
    width: 90%;
}

.active {
    background-color: white;
    color: black;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons article {
    width: 20%;
    margin-top: 10%;
    text-align: center;
}

.icons article img {
    width: 50%;
}

.buy {
    width: 50px;
    margin: 0 auto;
}

.preview {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.preview img {
    width: 40%;
	margin-top: 5%;
}

.preview:target {
	outline: none;
	display: block;
}

.ruby, .slick {
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1.5px;
}

.ruby article, .slick article {
    width: 80%;
    margin: 0 auto;
}

.social-icons img {
    width: 10%;
    margin: 10%;
    filter: grayscale(100%) contrast(200%) brightness(90%);
    transition: filter 0.2s linear 0s, -webkit-filter 0.2s linear 0s;
}

.social-icons img:hover {
    filter: none;
}

.social-icons a {
    text-decoration: none;
}